<!DOCTYPE html>

<head>
    
    <title>about</title>
    <link rel="icon" href="/img/cloud.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  {{>header}}
  <img class="portrait" src="/img/manik1.jpg" >
    {{>footer}} 
</body>
</html>