<!DOCTYPE html>

<head>
    <title>help</title>
    <link rel="icon" href="/img/cloud.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
   {{>header}}
   <h1>this is some helpfull text...</h1>
   </div>
    {{>footer}}
    
</body>
</html>