<!DOCTYPE html>

<head>
    
    <title>Home</title>
    <link rel="icon" href="/img/cloud.png">
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
    <div class="main-content">
    {{>header}}
    <p>use this website to see weather</p>
    <form>
        <input placeholder="Location"><button>search</button>
    </form>
    <p id="message-1"></p>
    <p id="message-2"></p>
    </div>
    
    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>